@media (min-width: 768px) {
    html {font-size: 36px;}
}
@media (min-width: 1200px) {
    html {font-size: 16px;}
}
#mindWindow {
    position:   fixed;
    left:       20px;
    top:        20px;
    right:      20px;
}
#mindTextArea {
    background-color: white;
    min-height: 5em;
    max-height: 30em;
    overflow: auto;
}
#mainFilter {
    margin:         1em auto;
}
#subMain {
    width:          95%;
    margin:         1em auto;
}
.mindDropDown {
    display:        inline;
}
.forDropDown {
    position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);
}
.answerEntity {
    margin-left:    2em;
}
.modalWindow {
    max-width:  90%;
}
#newMind {
    display:    block;
    width:      40%;
    margin:     1em auto;
}
#interlocutors {
    vertical-align: top;
    padding-right: 1em;
    float: left;
    width: 20%;
    height: 70vh;
    overflow-y: auto;
}
.interlocutor {
    margin-bottom: 0.5em;
    width: 100%;
}
#messages {
    border: deepskyblue 2px solid;
    border-radius: 2px;
    margin-bottom: 1em;
    float: left;
    width: 80%;
}
#messagesScroll {
    height: 75vh;
    overflow-y: scroll;
    padding: 0.5em;
}
#messageInput {

}
#messageTextArea {
    width: 80%;
    border: deepskyblue 1px solid;
    margin: 0.2em;
    float: left;
    min-height: 2.5em;
}
#messageSendButton {
    width: 19%;
    float: left;
    height: 2.8em;
}

.message {
    margin-bottom: 0.2em;
    width: 85%;
}
.ownMessage {
    margin-left: 15%;
}
.foreignMessage {

}
