<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Pepsbook Login</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    @media (min-width: 768px) {
        html {font-size: 48px;}
    }
    @media (min-width: 1200px) {
        html {font-size: 20px;}
    }
</style>
</head>
<body>
<div style="position: absolute; left: 50%; top: 10%;">
    <div style="position: relative; left: -50%;padding: 10px">
        <form method="POST" th:action="@{/login}" id="loginForm" th:object="${userLogin}">
            <h2 class="form-signin-heading" style="text-align: center">Pepsbook</h2>
            <p>
                <label for="username" class="sr-only">Логин</label>
                <input th:field="*{username}" type="text"
                       id="username" name="username"
                       class="form-control" placeholder="Логин" required autofocus>
                <div class="alert alert-dismissible alert-danger"
                     id = "usernameErrors"
                     th:if="${#fields.hasErrors('username')}"
                     th:errors="*{username}"></div>
            </p>
            <p>
                <label for="password" class="sr-only">Пароль</label>
                <input th:field="*{password}" type="password"
                       id="password" name="password"
                       class="form-control" placeholder="Пароль" required>
                <div  class="alert alert-dismissible alert-danger"
                      id = "passwordErrors"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}"></div>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
        <div style="text-align: center"><a href="/register">Зарегистрироваться</a></div>
    </div>
</div>
</body>
</html>
