<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Pepsbook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:inline="text">
        var nowInMain = "minds";
        function onError(x) {
            // if (x.status = 401) {document.location.reload(true)}
            alert(x.status);
        }
        function myOnLoad() {
            //Get user info and write their name in a nameField
            $.ajax("/rest/getUser", {data:{_csrf:"[[${_csrf.token}]]"},method:"GET"})
                .done(function (data, status) {
                    nameField.innerHTML = data.name
                })
            //Write minds in subMain
            $.ajax("/minds",{method:"GET"})
                .done(onGotSubMain)
                .fail(onError)
        }

        /**
         * Magical global variable for testing. Allow QA to know when subMain is loaded
         */
        var subMainReady = false
        /**
         * When data for subMain is received writes then to subMain
         * @param data
         */
        function onGotSubMain(data) {
            subMain.innerHTML = data||onError({status:"No data"});
            subMainReady = true
        }

        /**
         * When filter string is changed, retreives data for subMain
         */
        function onChangeFilter() {
            subMainReady = false
            $.ajax("/"+nowInMain,{data:{subs : mainFilter.value},method:"GET"})
                .done(onGotSubMain)
                .fail(onError)
        }

        /**
         * On click to upper menu item changes their appearence (activeness) and retreives data
         * @param newActive Upper menu item
         * @param toWhat Name of what is in subMain (minds,users,friends,mates)
         * @param filter Filter string
         */
        function changeView(newActive,toWhat,filter) {
            var children = menuBar.children;
            for (var i in children) {
                if (!children.hasOwnProperty(i)) continue;
                children[i].classList.remove("active")
            }
            newActive.classList.add("active");
            mainFilter.value = filter||"";
            nowInMain = toWhat;
            //show or hide mainFilter
            mainFilter.style.display = (nowInMain=="minds"||nowInMain=="users")?"":"none"
            subMain.innerHTML = ""
            //Show "loading" bunner
            setTimeout(function () {
                if (subMain.innerHTML == "") {
                    subMain.innerHTML = "<div style=\"text-align: center\"><h1 class=\"display-3\" style=\"margin: 1em auto\">Загрузка</h1></div>" +
                        "<div class=\"progress\">\n" +
                        "  <div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" aria-valuenow=\"75\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 75%\"></div>\n" +
                        "</div>"
                }
            },1000)
            onChangeFilter();
        }

        /**
         * LogOff. REST response erases keyCookie and change keyCookie on server if LogOff from all devices
         * @param all LogOff from all devices
         */
        function logOff(all) {
            $.ajax("/logout",{data:{_csrf:"[[${_csrf.token}]]"},method:"POST"})
                .done(function () {document.location.reload(true)})
        }

        /**
         * Adds friend
         * @param container Container with frienship bages to find them and change visibility
         * @param friend_id
         */
        function toFriends(container,friend_id) {
            $.ajax("/rest/toFriends",{data:{friend_id : friend_id,_csrf:"[[${_csrf.token}]]"},method:"PATCH"})
                .done(function (data) {
                    //REST returns "mate" if they are mutual friends now or "noMate" otherwise
                    $(container).closest(".userEntity").find(".friendship")[0].innerHTML =
                        data=="mate"?"<span class=\"badge badge-success\">Взаимный Друг</span>":
                            "<span class=\"badge badge-primary\">ПолуДруг</span>"
                    $(container).find (".toFriends")[0].style.display = "none"
                    $(container).find (".fromFriends")[0].style.display = ""

                })
                .fail(onError)
        }

        /**
         * Removes friend
         * @param container Container with frienship bages to find them and change visibility
         * @param friend_id
         */
        function fromFriends(container,friend_id) {
            $.ajax("/rest/fromFriends",{data:{friend_id : friend_id,_csrf:"[[${_csrf.token}]]"},method:"PATCH"})
                .done(function (data) {
                    //REST returns "mate" if another is a mate or "noMate" otherwise
                    $(container).closest(".userEntity").find(".friendship")[0].innerHTML =
                        data=="mate"?"<span class=\"badge badge-secondary\">Почитатель</span>":""
                    $(container).find (".toFriends")[0].style.display = ""
                    $(container).find (".fromFriends")[0].style.display = "none"
                    onChangeFilter();//If a friend not a friend now, we must rid of them
                })
                .fail(onError)
        }

        //not mine
        function placeCaretAtEnd(el) {
            el.focus();
            if (typeof window.getSelection != "undefined"
                && typeof document.createRange != "undefined") {
                var range = document.createRange();
                range.selectNodeContents(el);
                range.collapse(false);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
            } else if (typeof document.body.createTextRange != "undefined") {
                var textRange = document.body.createTextRange();
                textRange.moveToElementText(el);
                textRange.collapse(false);
                textRange.select();
            }
        }

        /**
         * Opens mind/answer editing window and let edit or add new mind
         * @param moa = 'mind' or 'answer' depending of what we work with
         * @param menuThis Undefined if new mind. Menu element which was clicked. To find mindText and get mind text.
         * @param parentMind Only for answers
         * @param startText Text, that will be inserted in the beginning. e.g. "@vasya " to write answers like "@vasya blablabla"
         * @param mindId undefined if new mind
         */
        function openNewMindWindow(moa, menuThis, mindId, parentMind, startText) {
            if (document.getElementById("mindWindow")) return //to not open second window
            let win = document.createElement("div")
            if (startText=='@') startText += $(menuThis).closest("."+moa+"Entity").find("."+moa+"User")[0].innerHTML+' ' //CRUTCH: user is got from the page
            let text = startText || ""
            text += mindId ? $(menuThis).closest("."+moa+"Entity").find("."+moa+"Text")[0].innerHTML : "" //CRUTCH: text is got from the page
            with (win) {
                setAttribute("id","mindWindow")
                setAttribute("class","alert alert-dismissible alert-success")
                innerHTML = '\n' +
                    '<button type="button" class="close" data-dismiss="alert" id="closeMind">&times;</button>\n' +
                    '<label for="mindTextArea">'+(moa == 'mind' ? 'Мысль' : 'Ответ')+':</label>\n' +
                    '<div contenteditable id="mindTextArea">'+text+'</div>\n' +
                    '<div id="mindErrSign" style="display: none"></div>\n' +
                    '<button type="button" class="btn btn-primary" ' +
                    '  onclick="saveMind(\''+moa+'\','+mindId+(parentMind ? (','+parentMind) : '')+')" ' +
                    '  style="margin-top: 1em">Опубликовать</button>'
            }
            document.body.append(win)
            mindTextArea.focus()
            placeCaretAtEnd(mindTextArea)
        }

        /**
         * On click of "Опубликовать" closes  the mindWindow, posts the mind/answer and renew subMain with minds
         * @param moa = 'mind' or 'answer' depending of what we work with
         * @param id
         * @param parentMind Only for answers
         */
        function saveMind(moa,id,parentMind) {
            /* Length validation */
            if (mindTextArea.innerText.length > 4000) {
                with (mindErrSign) {
                    style.display = "";
                    innerHTML =
                        '<div class="alert alert-dismissible alert-danger">\n' +
                        '  <button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '  <p class="mb-0">Слишком длинная мысль. Максимальная длинна 4000</p>' +
                        '</div>'
                }
                return
            }
            $.ajax("/rest/save"+moa[0].toUpperCase()+moa.slice(1),
                    {data:{text : mindTextArea.innerText.replace(/\xa0/g," "), id : id||0, parentMind : parentMind,_csrf:"[[${_csrf.token}]]"},
                        method:"POST"})
                .done(function (data, status) {
                    onChangeFilter()
                })
                .fail(onError);
            mindWindow.remove()
        }
        /**
         * Removes mind/answer and renew subMain with minds
         * @param moa = 'mind' or 'answer' depending of what we work with
         * @param id
         */
        function removeMind(moa,id) {
            $.ajax("/rest/remove"+moa[0].toUpperCase()+moa.slice(1),{data:{id : id,_csrf:"[[${_csrf.token}]]"},method:"DELETE"})
                .done (function (data, status) {
                    if (status != "success"||data.search(/^error/)>=0) {onError(data||"bad status="+status);return};
                    onChangeFilter()
                })
                .fail(onError);
        }
    </script>
    <style>
        @media (min-width: 768px) {
            html {font-size: 36px;}
        }
        @media (min-width: 1200px) {
            html {font-size: 16px;}
        }
        #mindWindow {
            position:   fixed;
            left:       20px;
            top:        20px;
            right:      20px;
        }
        #mindTextArea {
            background-color: white;
            min-height: 5em;
            max-height: 30em;
            overflow: auto;
        }
    </style>

</head>
<body onload="myOnLoad()">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Pepsbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto" id="menuBar">
            <li class="nav-item active">
                <a class="nav-link" id="mainMinds" href="javascript:undefined" onclick="changeView(this.parentNode,'minds')">Мысли <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mainUsers" href="javascript:undefined" onclick="changeView(this.parentNode,'users')">Другие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mainFriends" href="javascript:undefined" onclick="changeView(this.parentNode,'friends')">Друзья</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mainMates" href="javascript:undefined" onclick="changeView(this.parentNode,'mates')">Почитатели</a>
            </li>
        </ul>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-right: 20px">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <a class="dropdown-item" href="javascript:logOff()" id="exitMenuItem">Выдти</a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="nameField"></button>
        </div>
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="text" placeholder="Везде искать">-->
<!--            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Искать</button>-->
<!--        </form>-->
    </div>
</nav>
<div id="main">
    <div class="form-group">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input class="form-control form-control-lg" type="text" placeholder="Фильтр" id="mainFilter" onkeyup="onChangeFilter()" style=" width: 95%;margin-top: 1em;margin-left: auto;margin-right: auto;">
    </div>
    <div id="subMain" style="width: 95%;margin-left: auto;margin-right: auto;"></div>
</div>
<!-- It's for Selenium test, cause dropdown-item isn't clickable in Selenium by no reason -->
<a id="fakeLogOffButton" href="javascript:logOff()" style="color: white">logOff</a>
</body>
</html>