<!--suppress ALL -->
<thh xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Страна</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${lizt}" class="userEntity">
        <td th:text="${i.name}" class="userName"></td>
        <td th:text="${i.country}" class="userCountry"></td>
        <td>
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                        <a class="dropdown-item toFriends"
                           th:styleappend="${currUser.friends.contains(i)} ? 'display : none' : ''"
                           th:onclick="@{'toFriends(this.parentNode,'+${i.id}+')'}"
                           href="javascript:undefined">В друзья</a>
                        <a class="dropdown-item fromFriends"
                           th:styleappend="${!currUser.friends.contains(i)} ? 'display : none' : ''"
                           th:onclick="@{'fromFriends(this.parentNode,'+${i.id}+')'}"
                           href="javascript:undefined">Из друзей</a>
                    </div>
                </li>
                <li class="friendship">
                    <span class="badge"
                        th:if="${currUser.friends.contains(i)||currUser.mates.contains(i)}"
                        th:classappend="${currUser.friends.contains(i)} ? (${currUser.mates.contains(i)}?'badge-success':'badge-primary') : 'badge-secondary'"
                        th:text=       "${currUser.friends.contains(i)} ? (${currUser.mates.contains(i)}?'Взаимный Друг':'ПолуДруг') : 'Почитатель'">
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</thh>